body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.pop-up{
  display: block;
  position: absolute;
  margin-left: 24%;
  border-radius: 20px;
  border: solid 5px black;
  width: 50%;
  height: 27rem;
  background-color: aqua;
  top: 30%;
  /* transform: translateX(50%); */
}

@media (max-width: 900px){
  .pop-up{
    border-radius: 0;
    border: none;
    margin: 0;
    width: 100%;
  }
}


p{
  font-size: 3rem;
  margin-top: 4rem
}
h2{
  margin-top: 5rem;
  font-size: 4rem;
}


.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn-container{
  margin: 30px;
  height: 12rem;
  position: relative;
  width: 12rem;
  display: inline-block;  
}

.btn-frame{
  border-radius: 10%;
  margin: 20px;
  background-color: rgb(229, 221, 109);
  position: absolute;
  height: 8rem;
  width: 9rem;
  border: solid 4px black;
}

.frame-low{
  margin-top: 30px;
  background-color: rgb(190, 183, 90);
}

.btn-click{
  border-radius: 10%;
  top: 8px;
  left: 37px;
  position: absolute;
  height: 7rem;
  width: 7rem;
  border: solid 4px black;
}

.btn-low{
  border-radius: 10%;
  top: 19px;
}


.red {
  background-color: red;
}
#btn-low-red{
  background-color: rgb(181, 3, 3);
}
.red-pressed{
  background-color: rgb(255, 54, 54);
  box-shadow: 0 0 50px 20px rgb(255, 100, 100);
}

.green {
  background-color: green;
}
#btn-low-green{
  background-color: rgb(1, 94, 1);
}
.green-pressed{
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 50px 20px rgb(80, 255, 80);
}

.blue {
  background-color: blue;
}
#btn-low-blue{
  background-color: rgb(3, 3, 180);
}
.blue-pressed{
  background-color: rgb(75, 75, 255);
  box-shadow: 0 0 50px 20px rgb(88, 88, 255);
}

.yellow {
  background-color: yellow;
}
#btn-low-yellow{
  background-color: rgb(202, 202, 0);
}
.yellow-pressed{
  background-color: rgb(255, 255, 88);
  box-shadow: 0 0 50px 20px rgb(255, 255, 95);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  top: 19px;
}


